Funciones API

In [21]:
import pandas as pd
import numpy as np

In [22]:
df=pd.read_csv('Datasets\Movies_ETL.csv')

In [23]:
df.drop(columns=['overview','status','tagline','idcollection','idgenres','idpcompany','slang_name','pcountry_isocode'], inplace=True)
df.drop_duplicates(inplace=True)
df.drop_duplicates(subset=['id'],inplace=True)

In [24]:
df=df.reset_index(drop=True)

In [25]:
df

,budget,id,original_language,popularity,release_date,revenue,runtime,title,vote_average,release_year,return,collection_name,genres_name,slang_isocode,pcompany_name,pcountry_name
0,30000000.0,862,en,21.946943,1995-10-30,373554033.0,81.0,Toy Story,7.7,1995,12.451801,Toy Story Collection,"['Animation', 'Comedy', 'Family']",['en'],['Pixar Animation Studios'],['United States of America']
1,65000000.0,8844,en,17.015539,1995-12-15,262797249.0,104.0,Jumanji,6.9,1995,4.043035,NaN,"['Adventure', 'Fantasy', 'Family']","['en', 'fr']","['TriStar Pictures', 'Teitler Film', 'Intersco...",['United States of America']
2,0.0,15602,en,11.712900,1995-12-22,0.0,101.0,Grumpier Old Men,6.5,1995,0.000000,Grumpy Old Men Collection,"['Romance', 'Comedy']",['en'],"['Warner Bros.', 'Lancaster Gate']",['United States of America']
3,16000000.0,31357,en,3.859495,1995-12-22,81452156.0,127.0,Waiting to Exhale,6.1,1995,5.090760,NaN,"['Comedy', 'Drama', 'Romance']",['en'],['Twentieth Century Fox Film Corporation'],['United States of America']
4,0.0,11862,en,8.387519,1995-02-10,76578911.0,106.0,Father of the Bride Part II,5.7,1995,0.000000,Father of the Bride Collection,['Comedy'],['en'],"['Sandollar Productions', 'Touchstone Pictures']",['United States of America']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45341,0.0,30840,en,5.683753,1991-05-13,0.0,104.0,Robin Hood,5.7,1991,0.000000,NaN,"['Drama', 'Action', 'Romance']",['en'],"['Westdeutscher Rundfunk (WDR)', 'Working Titl...","['Canada', 'Germany', 'United Kingdom', 'Unite..."
45342,0.0,111109,tl,0.178241,2011-11-17,0.0,360.0,Century of Birthing,9.0,2011,0.000000,NaN,['Drama'],['tl'],['Sine Olivia'],['Philippines']
45343,0.0,67758,en,0.903007,2003-08-01,0.0,90.0,Betrayal,3.8,2003,0.000000,NaN,"['Action', 'Drama', 'Thriller']",['en'],['American World Pictures'],['United States of America']
45344,0.0,227506,en,0.003503,1917-10-21,0.0,87.0,Satan Triumphant,0.0,1917,0.000000,NaN,[],[],['Yermoliev'],['Russia']
45345,0.0,461257,en,0.163015,2017-06-09,0.0,75.0,Queerama,0.0,2017,0.000000,NaN,[],['en'],[],['United Kingdom']

API 1

In [31]:
def peliculas_mes(mes):
    fechas=pd.to_datetime(df['release_date'],format='%Y-%m-%d')
    nmes=fechas[fechas.dt.month_name(locale='es_CO')==mes.capitalize()]
    respuesta=nmes.shape[0]
    return {'mes':mes, 'cantidad':respuesta}

In [32]:
peliculas_mes('marzo')

{'mes': 'marzo', 'cantidad': 3549}

API 2

In [33]:
def peliculas_dia(dia):
    fechas=pd.to_datetime(df['release_date'],format='%Y-%m-%d')
    ndia=fechas[fechas.dt.day_name(locale='es_CO')==dia.capitalize()]
    respuesta=ndia.shape[0]
    return {'dia':dia, 'cantidad':respuesta}

In [34]:
peliculas_dia('lunes')

{'dia': 'lunes', 'cantidad': 3500}

In [35]:
peliculas_dia('sÃ¡bado')

{'dia': 'sÃ¡bado', 'cantidad': 5149}

API 3

In [36]:
def franquicia(franquicia):
    f_low=franquicia.lower()
    fran=df[['collection_name','revenue']].dropna(subset=['collection_name'])
    fran=fran[fran['collection_name'].map(str.lower).apply(lambda x: f_low in x)]
    cantidad=fran.shape[0]
    gananciat=fran['revenue'].sum()
    gananciap=fran['revenue'].mean()
    return {'franquicia':franquicia, 'cantidad':cantidad, 'ganancia_total':gananciat, 'ganancia_promedio':gananciap}

In [37]:
franquicia('toy story collection')

{'franquicia': 'toy story collection',
 'cantidad': 3,
 'ganancia_total': 1937890605.0,
 'ganancia_promedio': 645963535.0}

API 4

In [38]:
def peliculas_pais(pais):
    p_low=pais.lower()
    cantidad = df['pcountry_name'].map(str.lower).apply(lambda x: p_low in x).sum()
    return {'pais': pais, 'cantidad': cantidad}

In [39]:
peliculas_pais('colombia')

{'pais': 'colombia', 'cantidad': 34}

API 5

In [40]:
def productoras(productora):
    pprod=df[['pcompany_name','revenue']].dropna()
    pprod['pcompany_name']=pprod['pcompany_name'].map(str.lower)
    pprod=pprod[pprod.pcompany_name.str.contains(productora.lower(), regex=False)]
    cantidad=pprod.shape[0]
    gtotal=pprod['revenue'].sum()
    return {'productora':productora, 'ganancia_total':gtotal, 'cantidad':cantidad}

In [41]:
productoras('Warner Bros.')

{'productora': 'Warner Bros.',
 'ganancia_total': 67156995259.0,
 'cantidad': 1374}

API 6

In [42]:
def retorno(pelicula):
    ppeli=df[['title','budget','revenue','return','release_year']].dropna()
    ppeli['title']=ppeli['title'].map(str.lower)
    ppeli=ppeli[ppeli['title']==str(pelicula).lower()]
    inver=ppeli['budget'].iloc[0]
    gan=ppeli['revenue'].iloc[0]
    ret=ppeli['return'].iloc[0]
    an=ppeli['release_year'].iloc[0]
    return {'pelicula':pelicula, 'inversion':inver, 'ganacia':gan,'retorno':ret, 'anio':an}

In [44]:
retorno('sabrina')

{'pelicula': 'sabrina',
 'inversion': 58000000.0,
 'ganacia': 0.0,
 'retorno': 0.0,
 'anio': 1995}

API 7 - SISTEMA DE RECOMENDACION